---
import { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions";
import Base from "../../layouts/Base.astro";
---

<Base>
  <section class="flex flex-col gap-8 py-8 mx-4 lg:mx-0" id="privacy">
    <h1>Privacy Policy</h1>
    <h2 class="text-primaryLight dark:text-primaryDark">
      1. Privacy at a glance
    </h2>
    <h3>General Information</h3>
    <article>
      The following information provides a simple overview of what happens to
      your your personal data when you visit this website. Personal data is all
      data that can be used to identify you personally. can be identified.
      Detailed information on the subject of data protection can be found in our
      privacy policy listed below this text. data protection declaration.
    </article>
    <h3>Data Collection on this Website</h3>
    <h4>Who is responsible for data collection on this website?</h4>
    <article>
      The data processing on this website is carried out by the website
      operator. You can find the operator's contact details in the section on
      the controller” in this privacy policy.
    </article>
    <h4>How we collect your data</h4>
    <article>
      On the one hand, your data is collected when you provide it to us. This
      may, for example, be data that you enter in a contact form. contact form.
      Other data is collected automatically or with your collected by our IT
      systems when you visit the website. This are primarily technical data
      (e.g. internet browser, operating system or or time of the page view).
      This data is collected automatically automatically as soon as you enter
      this website.
    </article>
    <h4>What we use your data for</h4>
    <article>
      Some of the data is collected to ensure the error-free provision of the
      website. website without errors. Other data may be used to analyze your
      user behavior. If contracts can be concluded or initiated via the website
      contracts can be concluded or initiated via the website, the data
      transmitted also used for contract offers, orders or other order
      enquiries. processed.
    </article>
    <h4>What rights do you have with regard to your data?</h4>
    <article>
      You have the right to obtain information free of charge at any time about
      the origin recipient and purpose of your stored personal data free of
      charge. receive. You also have the right to request the correction or
      deletion of this data. If you have given your consent to data processing,
      you can revoke this consent at any time for the future. You also have the
      right, under certain the restriction of the processing of your personal
      data under certain to demand. Furthermore, you have the right to lodge a
      complaint with the competent supervisory authority. <br /><br /> You can contact
      us at any time about this and other on the subject of data protection, you
      can contact us at any time.
    </article>
    <h2 class="text-primaryLight dark:text-primaryDark">2. Hosting</h2>
    <article>
      This website is hosted externally. The personal data collected on this
      website collected on this website are stored on the servers of the
      hoster(s). host(s). This may primarily involve IP addresses, contact
      requests, meta and communication data, contract data, contact data, names,
      website accesses and other data generated via a website. generated via a
      website. <br /><br /> External hosting is carried out for the purpose of fulfilling
      the contract with our potential and existing customers customers (Art. 6 para.
      1 lit. b GDPR) and in the interest of a secure, fast and efficient and efficient
      provision of our online offering by a professional provider (Art. provider
      (Art. 6 para. 1 lit. f GDPR). If a corresponding consent has been requested,
      the processing is carried out exclusively on the basis of Art. 6 para. 1 lit.
      a GDPR and § 25 para. 1 TDDDG, insofar as the consent allows the storage of
      cookies or access to information in the end device of the user user (e.g. device
      fingerprinting) within the meaning of the TDDDG. The consent can be revoked
      at any time. <br /><br /> Our hoster(s) will only process your data to the
      data only to the extent that this is necessary to fulfill its performance obligations
      and our obligations and follow our instructions with regard to this data. <br
      /><br />
      We use the following host(s): <br /><br />GitHub<br /> 88 Colin P. Kelly Jr.
      Street<br /> San Francisco <br /> United States of America<br />
    </article>
    <h2 class="text-primaryLight dark:text-primaryDark">
      3. General Notes and Mandatory Information
    </h2>
    <h3>Privacy</h3>
    <article>
      The operators of these pages take the protection of your personal data
      very seriously. We treat your personal data confidentially and in in
      accordance with the statutory data protection regulations and this privacy
      policy. <br /><br /> When you use this website, various personal data is various
      personal data are collected. Personal data is data with which you can be personally
      identified. This privacy policy explains what data we collect and what we use
      it for. It also explains how and for what purpose this is done. <br /><br
      />
      We would like to point out that data transmission over the Internet (e.g. when
      communicating by communication by e-mail) can have security gaps. A complete
      protection of data from access by third parties is not possible.
    </article>
    <h3>Note on the Responsible Body</h3>
    <article>
      The party responsible for data processing on this website is:<br /><br /> Moritz
      Stötter<br />
      Software developer <br />Krottenkopfstr. 1 <br />81377 Munich<br /> Phone:
      +49 (0)151 2304 8794<br /> Email: info@modernembedded.tech <br /><br />The
      responsible body is the natural or legal person who, alone or jointly with
      others alone or jointly with others determines the purposes and means of
      the processing of personal data (e.g. names, e-mail addresses, etc.).
      Similar) decides.
    </article>
    <h3>Storage Duration</h3>
    <article>
      Unless a more specific storage period is specified in this privacy policy
      storage period has been specified, your personal data will remain with us
      until the us until the purpose for data processing no longer applies. If
      you make a legitimate request for deletion or revoke your consent to data
      processing data processing, your data will be deleted, provided that we
      have no other legally other legally permissible reasons for the storage of
      your personal data personal data (e.g. retention periods under tax or
      commercial law). retention periods); in the latter case, the deletion will
      take place after these discontinuation of these reasons.
    </article>
    <h3>
      General Information on the Legal Basis for Data Processing on this Website
    </h3>
    <article>
      If you have consented to data processing, we will process your personal
      data on the basis of Art. 6 para. 1 lit. a GDPR or Art. 9 para. 2 lit. a
      GDPR, insofar as special categories of data pursuant to Art. 9 para. 1
      GDPR are processed. In the event of express consent to the transfer of
      personal data to third countries, the data processing is also carried out
      also on the basis of Art. 49 para. 1 lit. a GDPR. If you consent to the
      storage the storage of cookies or access to information in your end device
      (e.g. via device fingerprinting), the data processing is also carried out
      on the basis of on the basis of § 25 para. 1 TDDDG. Consent can be revoked
      at any time. If your data is required to fulfill the contract or to carry
      out pre-contractual measures, we process your data on the basis of Art. 6
      para. 1 lit. b GDPR. Furthermore, we process your data if this is
      necessary for the fulfillment a legal obligation on the basis of Art. 6
      para. 1 lit. c GDPR. Data processing may also be carried out on the basis
      of our legitimate interest pursuant to Art. 6 para. 1 lit. f GDPR. The
      relevant legal bases in each individual case relevant legal basis in each
      individual case in the following paragraphs of this privacy policy.
      informed.
    </article>
    <h3>Recipients of Personal Data</h3>
    <article>
      As part of our business activities, we work with various external external
      bodies. In some cases, it is also necessary to transfer personal data to
      these external bodies. We only pass on personal data to external bodies
      only if this is necessary in the context of is necessary for the
      fulfillment of a contract, if we are legally are legally obliged to do so
      (e.g. transfer of data to tax authorities), if we have a legitimate
      interest in accordance with Art. 6 para. 1 lit. f GDPR in the transfer or
      if another legal basis permits the data transfer is permitted. When using
      contract processors, we only disclose personal data of our customers only
      on the basis of a valid contract on order processing. In the case of joint
      processing processing, a joint processing agreement is concluded.
    </article>
    <h3>Revocation of your Consent to Data Processing</h3>
    <article>
      any data processing operations are only possible with your express
      consent. consent. You can withdraw consent that you have already given
      revoked at any time. The legality of the data processing carried out until
      the revocation processing remains unaffected by the revocation.
    </article>
    <h3>
      Right to Object to the Collection of Data in Special Cases and to Direct
      Advertising (Art. 21 GDPR)
    </h3>
    <article>
      IF THE DATA PROCESSING IS BASED ON ART. 6 ABS. 1 LIT. E OR F GDPR, YOU
      HAVE THE RIGHT TO OBJECT AT ANY TIME, ON GROUNDS RELATING TO REASONS
      ARISING FROM YOUR PARTICULAR SITUATION, TO OBJECT TO THE PROCESSING OF
      YOUR PERSONAL DATA; THIS ALSO APPLIES TO PROFILING BASED ON THESE
      PROVISIONS. PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL
      BASIS, ON WHICH PROCESSING IS BASED CAN BE FOUND IN THIS DATA PROTECTION
      DECLARATION. IF YOU LODGE AN OBJECTION, WE WILL NO LONGER PROCESS YOUR WE
      WILL NO LONGER PROCESS YOUR PERSONAL DATA CONCERNED UNLESS WE CAN
      DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING, THAT
      OUTWEIGH YOUR INTERESTS, RIGHTS AND FREEDOMS, OR IF THE PROCESSING SERVES
      THE ASSERTION, EXERCISE OR DEFENSE OF LEGAL CLAIMS LEGAL CLAIMS (OBJECTION
      PURSUANT TO ART. 21 PARA. 1 GDPR). <br /><br />IF YOUR PERSONAL DATA ARE
      PROCESSED FOR THE PURPOSE OF DIRECT MARKETING ADVERTISING, YOU HAVE THE
      RIGHT TO OBJECT AT ANY TIME TO THE PROCESSING OF PERSONAL DATA CONCERNING
      YOU FOR THE PURPOSE OF SUCH PURPOSES OF SUCH ADVERTISING; THIS ALSO
      APPLIES TO PROFILING INSOFAR AS IT IS IN CONNECTION WITH SUCH DIRECT
      MARKETING. IF YOU OBJECT, YOUR PERSONAL DATA WILL SUBSEQUENTLY NO LONGER
      BE USED FOR THE PURPOSE OF DIRECT DIRECT MARKETING (OBJECTION PURSUANT TO
      ART. 21 PARA. 2 GDPR).
    </article>
    <h3>Right of Appeal to the Competent Supervisory Authority</h3>
    <article>
      In the event of violations of the GDPR, data subjects have the right to
      right to lodge a complaint with a supervisory authority, in particular in
      the Member State of their habitual residence, their place of work or the
      place of the alleged infringement. The right to lodge a complaint exists
      without prejudice to any other administrative or judicial remedy. legal
      remedies.
    </article>
    <h3>Right to Data Portability</h3>
    <article>
      You have the right to have data that we process automatically on the basis
      of your consent or in fulfillment of a contract, to yourself or to a third
      party in a to a third party in a commonly used, machine-readable format.
      have it handed over. If you request the direct transfer of the data to
      another data controller, this will only be done insofar as it is
      technically feasible. is technically feasible.
    </article>
    <h3>Information, Rectification and Erasure</h3>
    <article>
      Within the scope of the applicable legal provisions, you have the right at
      any time right to free information about your stored personal data, their
      personal data, its origin and recipients and the purpose of the data
      processing and, if applicable, a right to rectification or erasure of this
      data. data. You can contact us at any time if you have further questions
      on the subject of personal data you can contact us at any time.
    </article>
    <h3>Right to Restriction of Processing</h3>
    <article>
      You have the right to request the restriction of the processing of your of
      your personal data. You can do this at any time by contacting us at any
      time. The right to restriction of processing exists in the following
      cases:
      <ul
        style="list-style-type: disc; list-style-position: outside; padding: 1.5em;"
      >
        <li>
          If you dispute the accuracy of your personal data stored by us, we
          generally data stored by us, we usually need time to check this.
          verify this. For the duration of the review, you have the right to
          restriction of the processing of your personal data for the request
          the restriction of processing.
        </li><li>
          If the processing of your personal data was/is carried out unlawfully
          unlawful, you may request the restriction of data processing instead
          of erasure. data processing instead of erasure.
        </li>
        <li>
          If we no longer need your personal data, but you need it for the
          exercise for the exercise, defense or assertion of legal claims, you
          have the legal claims, you have the right, instead of the deletion
          restriction of the processing of your personal data instead of
          erasure. request the restriction of processing.
        </li>
        <li>
          If you have lodged an objection pursuant to Art. 21 para. 1 GDPR, a
          balance must be struck between your interests and ours. be made. As
          long as it has not yet been determined whose interests prevail you
          have the right to demand the restriction of the processing of your
          processing of your personal data.
        </li>
      </ul>
      If you have restricted the processing of your personal data, this data - apart
      from its data - apart from its storage - may only be processed with your your
      consent or for the establishment, exercise or defense of legal legal claims
      or for the protection of the rights of another natural or legal person legal
      person or for reasons of important public interest of the European interest
      of the European Union or of a Member State. are processed.
    </article>
    <h3>SSL or TLS Encryption</h3>
    <article>
      For security reasons and to protect the transmission of confidential
      content confidential content, such as orders or inquiries that you send to
      us you send to us as the site operator, SSL or TLS encryption. encryption.
      You can recognize an encrypted connection by the fact that the address
      line of the browser changes from “http://” to “https://” and by the lock
      symbol in your browser line.
      <br /><br />When SSL or TLS encryption is activated, the data that you
      data that you transmit to us cannot be read by third parties. be read by
      third parties.
    </article>
    <h2 class="text-primaryLight dark:text-primaryDark">
      4. Data Collection on this Website
    </h2>
    <h3>Contact Form</h3>
    <article>
      If you send us inquiries via the contact form, your data from the from the
      inquiry form, including the contact details you provide there contact
      details for the purpose of processing the request and in case of stored by
      us in the event of follow-up questions. We will not pass on this data
      without your consent. <br /><br /> The processing of this data takes place
      on the basis of basis of Art. 6 para. 1 lit. b GDPR, provided that your request
      is related to the fulfillment contract or is necessary for the implementation
      of pre-contractual measures. is required. In all other cases, the processing
      is based on our legitimate interest in the effective processing of the requests
      addressed to us (Art. 6 para. 1 lit. f GDPR) or on your consent (Art. 6 para.
      1 lit. a GDPR) if this has been requested; consent can be revoked at any time.
      revocable at any time. <br /><br />The data entered by you in the contact
      form will remain data will remain with us until you ask us to delete it,
      revoke your revoke your consent to the storage or the purpose for the data
      storage no longer applies (e.g. after we have completed processing your
      request). Mandatory statutory provisions - in particular retention periods
      - remain unaffected.
    </article>
    <h3>Inquiry by Email, Telephone or Fax</h3>
    <article>
      If you contact us by e-mail, telephone or fax, your request, including all
      request, including all resulting personal data (name, request)
      (name, request) for the purpose of processing your request will be
      stored and processed. We will not pass on this data without your
      consent. <br /><br />This data is processed on the basis of
      basis of Art. 6 para. 1 lit. b GDPR, provided that your request is related to the
      fulfillment of a contract or for the implementation of
      pre-contractual measures is required. In all other cases
      processing is based on our legitimate interest in the effective
      effective processing of the requests addressed to us (Art. 6 para. 1 lit.
      f GDPR) or on your consent (Art. 6 para. 1 lit. a GDPR), provided that
      this has been requested; consent can be withdrawn at any time. <br
      /><br />The data you send to us via contact requests will remain
      will remain with us until you ask us to delete it, revoke your consent to its
      revoke your consent to the storage or the purpose for the data storage
      no longer applies (e.g. after your request has been processed).
      Mandatory statutory provisions - in particular statutory retention
      retention periods - remain unaffected.
    </article>
  </section>
</Base>
