---
const { href } = Astro.props;
---

{
  href ? (
    <a
      class="p-8 bg-white border cursor-pointer dark:bg-backgroundDark rounded-3xl border-primaryLight/10 dark:border-neutral-700/40"
      href={href}
    >
      <slot />
    </a>
  ) : (
    <div class="p-8 bg-white border dark:bg-backgroundDark rounded-3xl border-primaryLight/10 dark:border-neutral-700/40">
      <slot />
    </div>
  )
}
