---
import { Image } from "astro:assets";
import hero from "../assets/hero.png";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="hero"
  class="grid items-center grid-cols-1 mt-4 md:mt-16 md:grid-cols-2"
>
  <div class="flex flex-col">
    <h1 class="text-start text-primaryLight dark:text-primaryDark">
      {t("home.hero.title")}
    </h1>
    <p class="pb-8">{t("home.hero.subtitle")}</p>
    <button class="button-primary">
      {t("home.hero.cta")}
    </button>
  </div>
  <div class="relative hidden md:block">
    <Image src={hero} alt="hero" class="object-cover w-full p-8 h-80" />
  </div>
</section>
