---
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<ul>
  {
    lang === 'en' ? (
      <li>
        <a class="text-sm" href="/de/">
          DE 🇩🇪
        </a>
      </li>
    ) : (
      <li>
        <a class="text-sm" href="/en/">
          EN 🇬🇧
        </a>
      </li>
    )
  }
</ul>
