---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import BurgerMenu from "./ui/BurgerMenu.astro";
import LanguagePicker from "./ui/LanguagePicker.astro";
import NavList from "./NavList.astro";
import ThemeIcon from "./ui/ThemeIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="sticky z-50 flex flex-col px-8 py-6 mx-4 mt-8 border md:mx-0 bg-white/40 backdrop-blur-md top-4 dark:bg-backgroundDarker/80 rounded-3xl border-primaryLight/10 dark:border-neutral-700/40"
>
  <div class="flex items-center justify-between">
    <a href="/">Moritz Stötter Logo</a>
    <div class="flex items-center gap-4">
      <div class="hidden md:block">
        <NavList alignment="horizontal" />
      </div>
      <div class="flex item-center md:hidden">
        <BurgerMenu />
      </div>
      <LanguagePicker />
      <ThemeIcon />
    </div>
  </div>
  <div id="mobile-menu" class="hidden mt-4 md:hidden">
    <NavList alignment="vertical" />
  </div>
</div>

<script>
  let mobileMenuOpen = false;
  const mobileMenu = document.getElementById("mobile-menu");

  document.addEventListener("toggleMenu", () => {
    mobileMenuOpen = !mobileMenuOpen;
    if (mobileMenu) {
      mobileMenu.classList.toggle("hidden", !mobileMenuOpen);
    }
  });
</script>
