---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import BurgerMenu from "./ui/BurgerMenu.astro";
import LanguagePicker from "./ui/LanguagePicker.astro";
import NavList from "./NavList.astro";
import ThemeIcon from "./ui/ThemeIcon.astro";
import Image from "astro/components/Image.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="sticky z-50 flex flex-col px-8 py-2 mx-4 mt-8 border-2 lg:mx-0 bg-white/50 backdrop-blur-md top-4 dark:bg-backgroundDarker/80 rounded-[39px] border-primaryLight/10 dark:border-neutral-700"
>
  <div class="flex items-center justify-between">
    <a href="/">
      <div class="hidden md:block pr-4">
        <div class="block dark:hidden">
          <Image
            width={256}
            height={64}
            src="/logo_light.png"
            alt="modern embedded logo"
          />
        </div>
        <div class="hidden dark:block">
          <Image
            width={256}
            height={64}
            src="/logo_dark.png"
            alt="modern embedded logo"
          />
        </div>
      </div>
        <div class="block md:hidden">
          <div class="block dark:hidden">
            <Image
              width={64}
              height={64}
              src="/logo_mobile_light.png"
              alt="modern embedded logo"
            />
          </div>
          <div class="hidden dark:block">
            <Image
              width={64}
              height={64}
              src="/logo_mobile_dark.png"
              alt="modern embedded logo"
            />
          </div>
        </div>
    </a>
    <div class="flex items-center gap-4">
      <div class="hidden md:block">
        <NavList alignment="horizontal" />
      </div>
      <div class="flex item-center md:hidden">
        <BurgerMenu />
      </div>
      <LanguagePicker />
      <ThemeIcon />
    </div>
  </div>
  <div
    id="mobile-menu"
    class="overflow-hidden transition-[height] duration-300 ease-in-out h-0 md:hidden"
  >
    <div class="py-4" id="mobile-menu-content">
      <NavList alignment="vertical" />
    </div>
  </div>
</div>

<script>
  let mobileMenuOpen = false;
  const mobileMenu = document.getElementById("mobile-menu");
  const mobileMenuContent = document.getElementById("mobile-menu-content");

  document.addEventListener("toggleMenu", () => {
    mobileMenuOpen = !mobileMenuOpen;
    if (mobileMenu && mobileMenuContent) {
      const contentHeight = mobileMenuContent.getBoundingClientRect().height;

      if (mobileMenuOpen) {
        mobileMenu.style.height = `${contentHeight}px`;
      } else {
        mobileMenu.style.height = "0px";
      }
    }
  });
</script>
