---
import { Image } from "astro:assets";
import Box from "./Box.astro";

const { service } = Astro.props;
---

<Box>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <Image
      src={service.image}
      alt={service.title}
      class="object-cover w-full h-32 sm:h-64 rounded-2xl"
    />
    <div class="flex flex-col gap-4">
      <h2>{service.title}</h2>
      <p>{service.description}</p>
    </div>
  </div>
</Box>
