---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Box from "../../components/ui/Box.astro";
import {
  getLangFromUrl,
  idIsOfLanguage,
  useTranslations,
} from "../../i18n/utils";
import Base from "../../layouts/Base.astro";
import BoxGrid from "../../components/ui/BoxGrid.astro";
import ArticlePreview from "../../components/business/ArticlePreview.astro";

const blogPosts = await getCollection("blog");
const lang = getLangFromUrl(Astro.url);

const langBlogPosts = blogPosts.filter((c) => idIsOfLanguage(c.id, lang));

const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages = await getCollection("blog");

  const paths = pages.map((page) => {
    const [lang] = page.id.split("/");
    return { params: { lang }, props: page };
  });

  return paths;
}
---

<Base>
  <h1>Blog posts</h1>
  <BoxGrid wide>
    {langBlogPosts.map((blogPost) => <ArticlePreview article={blogPost} />)}
  </BoxGrid>
</Base>
