---
import { getCollection } from "astro:content";
import CaseStudyPreview from "../../components/business/CaseStudyPreview.astro";
import {
  getLangFromUrl,
  idIsOfLanguage,
  useTranslations,
} from "../../i18n/utils";
import Base from "../../layouts/Base.astro";

const caseStudies = await getCollection("case-studies");

const lang = getLangFromUrl(Astro.url);

const langCaseStudies = caseStudies.filter((s) => idIsOfLanguage(s.id, lang));

const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages = await getCollection("case-studies");

  const paths = pages.map((page) => {
    const [lang] = page.id.split("/");
    return { params: { lang }, props: page };
  });

  return paths;
}
---

<Base>
  <h1>{t("caseStudies.title")}</h1>
  <section class="grid grid-cols-1 gap-16 mx-4 md:grid-cols-2 lg:mx-0 pb-16">
    {
      [...langCaseStudies].reverse().map((caseStudy) => (
        <CaseStudyPreview caseStudy={caseStudy.data} />
      ))
    }
  </section>
</Base>
