---
import { getCollection } from "astro:content";
import { idIsOfLanguage } from "../../i18n/utils";
import Base from "../../layouts/Base.astro";

const caseStudies = await getCollection("case-studies");
const germanCaseStudies = caseStudies.filter((c) => idIsOfLanguage(c.id, "de"));
---

<Base>
  Deutsch Fallstudien Page
  <pre>{JSON.stringify({germanCaseStudies})}</pre>
  {
    germanCaseStudies?.map(({ data }) => (
      <div>
        <h2>{data.title}</h2>
        <p>{data.description}</p>
      </div>
    ))
  }
</Base>
