---
import { getCollection } from "astro:content";
import Service from "../../components/Service.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Base from "../../layouts/Base.astro";

const services = await getCollection("services");
const germanServices = services.find((s) => s.id.includes("de"))?.data
  ?.services;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Base>
  <h1>{t("services.title")}</h1>
  <div class="flex flex-col gap-8">
    {germanServices?.map((service) => <Service service={service} />)}
  </div>
</Base>
