---
import { Image } from "astro:assets";
import { getLangFromUrl } from "../../i18n/utils";
import Box from "../ui/Box.astro";

const article = Astro.props.article;

const lang = getLangFromUrl(Astro.url);
---

<Box href={`/${lang}/blog/${article.slug.split("/")[1]}`} padded>
  <div class="grid grid-cols-1 gap-4">
    <Image src={article.data.image} alt={article.data.imageAlt} />
    <h3>{article.data.title}</h3>
  </div>
</Box>
