---
import { Image } from "astro:assets";
import type { TeamMember } from "../../content/config";
import Box from "../ui/Box.astro";

const member: TeamMember = Astro.props.member;
---

<Box padded>
    <Image class="w-full rounded-full max-w-40 float-right px-3" src={member.image} alt={member.name} />
    <p class="">{member.description}</p>
</Box>
