---
import { Image } from "astro:assets";
import type { TeamMember } from "../../content/config";
import Box from "../ui/Box.astro";

const member: TeamMember = Astro.props.member;
---

<Box padded>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-5">
    <Image class="w-full" src={member.image} alt={member.name} />
    <p class="md:col-span-4">{member.description}</p>
  </div>
</Box>
