---
import { Image } from "astro:assets";
import type { TeamMember } from "../../content/config";
import Box from "../ui/Box.astro";

const member: TeamMember = Astro.props.member;
---

<Box padded>
    <div class="flex flex-col md:flex-row items-center gap-4">
    <Image
      class="w-full rounded-full max-w-60 px-3"
      src={member.image}
      alt={member.name}
    />
    <p class="">{member.description}</p>
  </div>
</Box>
