---
import Nav from "../components/Nav.astro";
import { getLangFromUrl } from "../i18n/utils";
import "../base.css";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="I am a Freelance Software Developing based in Munich, Germany, focusing on software development for embedded devices in modern C++."
    />
    <meta
      name="keywords"
      content="Freelance, C++, Embedded, RTOS, Software Developer, BLE, Firmware, Senior Software Developer, Software Architect"
    />
    <title>Moritz Stötter</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"
    />
    <!-- Check for dark mode to avoid light/dark theme blinking -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="flex flex-col justify-between min-h-screen bg-backgroundLight dark:bg-backgroundDark"
  >
    <div class="relative w-full max-w-5xl lg:mx-auto">
      <Nav />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
