---
import Nav from "../components/Nav.astro";
import { getLangFromUrl } from "../i18n/utils";
import "../base.css";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
    <!-- Check for dark mode to avoid light/dark theme blinking -->
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="flex flex-col justify-between max-w-5xl min-h-screen mx-4 lg:mx-auto bg-backgroundLight dark:bg-backgroundDark"
  >
    <div>
      <Nav />
      <main>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
