---
const { href, padded } = Astro.props;

const className = [
  "bg-white border dark:bg-backgroundDarker rounded-3xl border-primaryLight/10 dark:border-neutral-700/40 shadow-sm dark:shadow-md hover:shadow-md dark:hover:shadow-xl transition duration-300 hover:bg-neutral-100 dark:hover:bg-backgroundDarker/80",
  padded && "p-8",
]
  .filter(Boolean)
  .join(" ");
---

{
  href ? (
    <a class={className} href={href}>
      <slot />
    </a>
  ) : (
    <div class={className}>
      <slot />
    </div>
  )
}
