---
const { href, padded } = Astro.props;

const className = [
  "bg-white border dark:bg-backgroundDarker rounded-3xl border-primaryLight/10 dark:border-neutral-700/40",
  padded && "p-8",
]
  .filter(Boolean)
  .join(" ");
---

{
  href ? (
    <a class={className} href={href}>
      <slot />
    </a>
  ) : (
    <div class={className}>
      <slot />
    </div>
  )
}
