---
const { href, padded, customClass } = Astro.props;

const className = [
  "bg-white dark:bg-backgroundDark rounded-3xl shadow-sm dark:shadow-md",
  href &&
    "hover:bg-neutral-100 hover:shadow-md dark:hover:bg-backgroundDark/80  dark:hover:shadow-xl overflow-hidden transition duration-300",
  padded && "p-8",
  customClass && `${customClass}`,
]
  .filter(Boolean)
  .join(" ");
---

{
  href ? (
    <a class={className} href={href}>
      <slot />
    </a>
  ) : (
    <div class={className}>
      <slot />
    </div>
  )
}
