---
import { Image } from "astro:assets";
import contactImage from "../../assets/contact.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:my-8">
  <div class="relative hidden h-full col-span-1 lg:block">
    <Image
      class="absolute inset-0 object-cover object-left w-full h-full"
      src={contactImage}
      alt="asdfasdf asd fas df"
    />
  </div>
  <div class="flex flex-col col-span-2 gap-8 pb-8 mx-4 lg:col-span-1 lg:mx-0">
    <h1>{t("contact.title")}</h1>
    <form
      class="flex flex-col gap-8"
      method="post"
      action="https://forms.un-static.com/forms/ed0c50b5ef1f373fa0cd56407c4347a6e6141beb"
    >
      <input
        name="name"
        placeholder={t("contact.name")}
        type="text"
        required="required"
      />
      <input
        name="email"
        placeholder={t("contact.email")}
        type="text"
        required="required"
      />
      <textarea
        name="message"
        placeholder={t("contact.message")}
        cols="40"
        rows="10"
        required="required"></textarea>
      <div class="flex justify-between gap-4">
        <button class="button-primary" name="submit" type="submit"
          >{t("contact.send")}</button
        >
        <p class="email-disclaimer">
          <small
            >powered by <a
              rel="nofollow"
              class="focused-link"
              href="https://un-static.com/"
              target="_blank">Un-static Forms</a
            ></small
          >
        </p>
      </div>
    </form>
    <p>{t("contact.bookACallDescription")}</p>
    <a
      href="https://calendly.com/moritzstoetter/30min"
      target="_blank"
      class="button-primary">{t("contact.bookACall")}</a
    >
  </div>
</div>
